# Ignore the virtual environment
venv/
venv_win/
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore SQLite database
database.db

# Ignore file uploads
static/uploads/

# Ignore OS specific files
.DS_Store
Thumbs.db
